@import "../../styles/variables.scss"; 


.tabledata{
  


  .grid{


    color: white;
    background-color: $soft-bg;

    .MuiDataGrid-topContainer{
      
      color: black;

      .MuiDataGrid-columnHeaders{
        

        background-color: black;
      }
    }
    
  }
}