
.tabledata{
  


  .grid{
    padding: 20px;
    

    .MuiDataGrid-toolbarContainer{
      flex-direction: row-reverse;
    }

    img{
      margin-top: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}