@import "../../styles/responsive.scss";


.topbox{
  
  h1{
    margin-bottom: 20px;

    @include xxl{
      font-size: 24px;
    }
  }

  .list{

    .listitems{

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .user{

        display: flex;
        gap: 20px;

        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;

          @include xxl{
            display: none;
          }

          @include lg{
            display: block;
          }
        }

        .userDetails{

          display: flex;
          flex-direction: column;
          gap: 5px;

          .username{
            font-size: 16px;
            font-weight: 500;
            color: #90e0ef;
          }
          .email{
            font-size: 13px;
          }
        }

      }

      .amount{
        font-weight: 500;
      }


    }

  }
}