@import "./../../styles/variables.scss";

.add{

  width: 100vw;
  height: 120vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.724);
  display: flex;
  align-items: center;
  justify-content: center;

  .container{
    margin-top: -15%;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $main-bg;
    
    h1{
      text-align: center;
      margin-bottom: 40px;
      font-size: 28px;
    }

    span{
      font-size: 24px;
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 10px;
      top: 10px;
      right: 10px;
    }

    form{

      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 500px;
      flex-wrap: wrap;
      justify-content: space-between;

      .item{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
        padding: 5px;


        label{
          font-size: 14px;
        }

        input{
          padding: 10px;
          background-color: transparent;
          color: white;
          outline: none;
          border: 1px solid $soft-color;
        }
      }

      button{
        cursor: pointer;
        margin: auto;
        width: 60%;
        padding: 10px;
      }
    }


  }
}